<a href="https://colab.research.google.com/github/Zburns31/Code/blob/master/Predicting_Basketball_Scores_with_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collecting and cleaning data

In [1]:
import pandas as pd
import numpy as np

## Load the Teams.csv data set into a DataFrame  

Neither of the csv files have a header row so I manually add them here. I could just use the index but I like the more verbose feel of the actual names.

In [2]:
team_columns = ['Conference','Team']

teams_csv = 'https://liveproject-resources.s3.amazonaws.com/other/deeplearningbasketballscores/Teams.csv'
teams = pd.read_csv(teams_csv, header=None, names=team_columns)
teams.head()

     Conference         Team
0  America East      Vermont
1  America East  Stony Brook
2  America East         UMBC
3  America East     Hartford
4  America East       Albany

## Load the Games.csv data set into a DataFrame

In [3]:
column_names = ['Date','HomeTeam','HomeScore','AwayTeam','AwayScore']

games_csv = 'https://liveproject-resources.s3.amazonaws.com/other/deeplearningbasketballscores/Games.csv'
games = pd.read_csv(games_csv, header=None, names=column_names)
games.head()

         Date       HomeTeam  HomeScore     AwayTeam  AwayScore
0  2015-11-13         Hawaii         87  Montana St.         76
1  2015-11-13  Eastern Mich.         70      Vermont         50
2  2015-11-13       Columbia        107         Kean         62
3  2015-11-13     La.-Monroe         88      McMurry         43
4  2015-11-13           Yale         70    Fairfield         57

### Remove any games without a score  

There are a couple of games that don't have a score because they were cancelled (I actually think the floors were wet from humidity). I need to remove those because it is simply bad data and will skew the averages. There are outliers like this is many datasets and need to be handled.

In [4]:
games = games.drop( games[(games['HomeScore'] == 0)].index)
games = games.drop( games[(games['AwayScore'] == 0)].index)

games.loc[(games['HomeScore'] == 0) | (games['AwayScore'] == 0)]

Empty DataFrame
Columns: [Date, HomeTeam, HomeScore, AwayTeam, AwayScore]
Index: []

### Break the Games DataFrame into seasons  

Since we are using scoring average we need to break the dataset into seasons. It wouldn't make sense combining seasons because the teams are different. We only want to use the current teams average since that team is the one winning or losing.

In [5]:
s2015 = games[(games['Date'] > '2015-11-01') & (games['Date'] < '2016-04-15')].copy()
s2016 = games[(games['Date'] > '2016-11-01') & (games['Date'] < '2017-04-15')].copy()
s2017 = games[(games['Date'] > '2017-11-01') & (games['Date'] < '2018-04-15')].copy()
s2018 = games[(games['Date'] > '2018-11-01') & (games['Date'] < '2019-04-15')].copy()

print('2015 (%s): %s - %s' % (s2015.shape[0],np.min(s2015.Date),np.max(s2015.Date)))
print('2016 (%s): %s - %s' % (s2016.shape[0],np.min(s2016.Date),np.max(s2016.Date)))
print('2017 (%s): %s - %s' % (s2017.shape[0],np.min(s2017.Date),np.max(s2017.Date)))
print('2018 (%s): %s - %s' % (s2018.shape[0],np.min(s2018.Date),np.max(s2018.Date)))

2015 (5881): 2015-11-13 - 2016-04-01
2016 (5904): 2016-11-11 - 2017-03-31
2017 (5612): 2017-11-10 - 2018-03-31
2018 (5894): 2018-11-06 - 2019-03-22

### Clean the team names if they don't match the Teams entry  

This was one of the most frustrating parts of the project. It also points out the reason most quality data sources have a lookup for something like this instead of a text entry for the teams.

In [6]:
def RenameTeams(df_games, column_name):
  df_games.loc[ df_games[column_name] == 'A&amp;M-Corpus Chris'		, column_name ] = 		'Texas A&M-CC'
  df_games.loc[ df_games[column_name] == 'A&M-Corpus Chris'		, column_name ] = 		'Texas A&M-CC'	
  df_games.loc[ df_games[column_name] == 'Alabama St.'		, column_name ] = 		'Alabama State'		
  df_games.loc[ df_games[column_name] == 'Albany (NY)'		, column_name ] = 		'Albany'				
  df_games.loc[ df_games[column_name] == 'Alcorn St.'			, column_name ] = 		'Alcorn State'		
  df_games.loc[ df_games[column_name] == 'American'			, column_name ] = 		'American University'
  df_games.loc[ df_games[column_name] == 'Appalachian St.'			, column_name ] = 		'Appalachian State'	
  df_games.loc[ df_games[column_name] == 'Arizona St.'		, column_name ] = 		'Arizona State'						
  df_games.loc[ df_games[column_name] == 'Army West Point'		, column_name ] = 		'Army'					
  df_games.loc[ df_games[column_name] == 'Ark.-Pine Bluff'		, column_name ] = 		'Arkansas-Pine Bluff'
  df_games.loc[ df_games[column_name] == 'UALR'				, column_name ] = 		'Arkansas-Little Rock'	
  df_games.loc[ df_games[column_name] == 'Little Rock'				, column_name ] = 		'Arkansas-Little Rock'			
  df_games.loc[ df_games[column_name] == 'Arkansas St.'		, column_name ] = 		'Arkansas State'		
  df_games.loc[ df_games[column_name] == 'Ball St.'			, column_name ] = 		'Ball State'			
  df_games.loc[ df_games[column_name] == 'Boise St.'			, column_name ] = 		'Boise State'		
  df_games.loc[ df_games[column_name] == 'Boston U.'			, column_name ] = 		'Boston University'			
  df_games.loc[ df_games[column_name] == 'Cal Baptist'	, column_name ] = 		'California Baptist'			
  df_games.loc[ df_games[column_name] == 'Charleston So.'	, column_name ] = 		'Charleston Southern'			
  df_games.loc[ df_games[column_name] == 'Cent. Conn. St.'	, column_name ] = 		'Central Connecticut State'	
  df_games.loc[ df_games[column_name] == 'Central Conn. St.'	, column_name ] = 		'Central Connecticut State'	
  df_games.loc[ df_games[column_name] == 'Central Mich.'	, column_name ] = 		'Central Michigan'	
  df_games.loc[ df_games[column_name] == 'Col. of Charleston'	, column_name ] = 		'Charleston'			
  df_games.loc[ df_games[column_name] == 'Chicago St.'		, column_name ] = 		'Chicago State'		
  df_games.loc[ df_games[column_name] == 'Cleveland St.'		, column_name ] = 		'Cleveland State'		
  df_games.loc[ df_games[column_name] == 'Coastal Caro.'		, column_name ] = 		'Coastal Carolina'				
  df_games.loc[ df_games[column_name] == 'Colorado St.'		, column_name ] = 		'Colorado State'	
  df_games.loc[ df_games[column_name] == 'Coppin St.'			, column_name ] = 		'Coppin State'			
  df_games.loc[ df_games[column_name] == 'Bakersfield'		, column_name ] = 		'Cal State Bakersfield'	
  df_games.loc[ df_games[column_name] == 'CSU Bakersfield'		, column_name ] = 		'Cal State Bakersfield'		
  df_games.loc[ df_games[column_name] == 'Bryant'		, column_name ] = 		'Bryant University'	
  df_games.loc[ df_games[column_name] == 'Cal St. Fullerton'	, column_name ] = 		'Cal State Fullerton'
  df_games.loc[ df_games[column_name] == 'CSU Fullerton'	, column_name ] = 		'Cal State Fullerton'		
  df_games.loc[ df_games[column_name] == 'CSUN'	, column_name ] = 		'Cal State Northridge'	
  df_games.loc[ df_games[column_name] == 'Cal St. Northridge'	, column_name ] = 		'Cal State Northridge'						
  df_games.loc[ df_games[column_name] == 'Central Ark.'		, column_name ] = 		'Central Arkansas'						
  df_games.loc[ df_games[column_name] == 'Delaware St.'		, column_name ] = 		'Delaware State'		
  df_games.loc[ df_games[column_name] == 'Detroit'			, column_name ] = 		'Detroit Mercy'		
  df_games.loc[ df_games[column_name] == 'East Tenn. St.'		, column_name ] = 		'East Tennessee State'
  df_games.loc[ df_games[column_name] == 'Eastern Ill.'		, column_name ] = 		'Eastern Illinois'		
  df_games.loc[ df_games[column_name] == 'Eastern Ky.'		, column_name ] = 		'Eastern Kentucky'		
  df_games.loc[ df_games[column_name] == 'Eastern Mich.'		, column_name ] = 		'Eastern Michigan'	
  df_games.loc[ df_games[column_name] == 'Eastern Wash.'		, column_name ] = 		'Eastern Washington'
  df_games.loc[ df_games[column_name] == "Fairleigh D'son"		, column_name ] = 		'Fairleigh Dickinson'				
  df_games.loc[ df_games[column_name] == 'FGCU'		, column_name ] = 		'Florida Gulf Coast'						
  df_games.loc[ df_games[column_name] == 'FIU'				, column_name ] = 		'Florida International'					
  df_games.loc[ df_games[column_name] == 'Fla. Atlantic'		, column_name ] = 		'Florida Atlantic'
  df_games.loc[ df_games[column_name] == 'Florida St.'		, column_name ] = 		'Florida State'			
  df_games.loc[ df_games[column_name] == 'Fresno St.'			, column_name ] = 		'Fresno State'		
  df_games.loc[ df_games[column_name] == 'Fort Wayne'		, column_name ] = 		'Purdue Fort Wayne'		
  df_games.loc[ df_games[column_name] == 'IPFW'				, column_name ] = 		'Purdue Fort Wayne'				
  df_games.loc[ df_games[column_name] == 'Ga. Southern'		, column_name ] = 		'Georgia Southern'			
  df_games.loc[ df_games[column_name] == 'Georgia St.'		, column_name ] = 		'Georgia State'			
  df_games.loc[ df_games[column_name] == 'Geo. Washington'		, column_name ] = 		'George Washington'				
  df_games.loc[ df_games[column_name] == 'Grambling'		, column_name ] = 		'Grambling State'		
  df_games.loc[ df_games[column_name] == 'Humboldt St.'		, column_name ] = 		'Humboldt State'		
  df_games.loc[ df_games[column_name] == 'Idaho St.'			, column_name ] = 		'Idaho State'			
  df_games.loc[ df_games[column_name] == 'Illinois St.'		, column_name ] = 		'Illinois State'		
  df_games.loc[ df_games[column_name] == 'Iowa St.'			, column_name ] = 		'Iowa State'			
  df_games.loc[ df_games[column_name] == 'Indiana St.'		, column_name ] = 		'Indiana State'		
  df_games.loc[ df_games[column_name] == 'Jackson St.'		, column_name ] = 		'Jackson State'		
  df_games.loc[ df_games[column_name] == 'Jacksonville St.'		, column_name ] = 		'Jacksonville State'			
  df_games.loc[ df_games[column_name] == 'Kansas St.'		, column_name ] = 		'Kansas State'
  df_games.loc[ df_games[column_name] == 'Kennesaw St.'		, column_name ] = 		'Kennesaw State'		
  df_games.loc[ df_games[column_name] == 'Kent St.'			, column_name ] = 		'Kent State'			
  df_games.loc[ df_games[column_name] == 'Louisiana'		, column_name ] = 		'Louisiana-Lafayette'
  df_games.loc[ df_games[column_name] == 'Lamar University'		, column_name ] = 		'Lamar'	
  df_games.loc[ df_games[column_name] == 'La.-Monroe'		, column_name ] = 		'Louisiana-Monroe'		
  df_games.loc[ df_games[column_name] == 'Long Beach St.'		, column_name ] = 		'Long Beach State'	
  df_games.loc[ df_games[column_name] == 'Long Island'		, column_name ] = 		'LIU Brooklyn'
  df_games.loc[ df_games[column_name] == 'LMU'	, column_name ] = 		'Loyola Marymount'					
  df_games.loc[ df_games[column_name] == 'Loyola Chicago'	, column_name ] = 		'Loyola (IL)'			
  df_games.loc[ df_games[column_name] == 'Loyola Maryland'	, column_name ] = 		'Loyola (MD)'			
  df_games.loc[ df_games[column_name] == 'Loyola (Md.)'	, column_name ] = 		'Loyola (MD)'		
  df_games.loc[ df_games[column_name] == 'UMES'		, column_name ] = 		'Maryland-Eastern Shore'
  df_games.loc[ df_games[column_name] == 'Miami (Fla.)'		, column_name ] = 		'Miami (FL)'
  df_games.loc[ df_games[column_name] == 'Miami (Ohio)'		, column_name ] = 		'Miami (OH)'
  df_games.loc[ df_games[column_name] == "Mt. St. Mary's"		, column_name ] = 		"Mount St Mary's"			
  df_games.loc[ df_games[column_name] == 'Mass.-Lowell'		, column_name ] = 		'Massachusetts-Lowell'				
  df_games.loc[ df_games[column_name] == 'McNeese'		, column_name ] = 		'McNeese State'										
  df_games.loc[ df_games[column_name] == 'McNeese '		, column_name ] = 		'McNeese State'						
  df_games.loc[ df_games[column_name] == 'McNeese St.'		, column_name ] = 		'McNeese State'			
  df_games.loc[ df_games[column_name] == 'Middle Tenn.'		, column_name ] = 		'Middle Tennessee'		
  df_games.loc[ df_games[column_name] == 'Mississippi St.'		, column_name ] = 		'Mississippi State'	
  df_games.loc[ df_games[column_name] == 'Mississippi Val.'		, column_name ] = 		'Mississippi Valley State'			
  df_games.loc[ df_games[column_name] == 'Mich. St. '		, column_name ] = 		'Michigan State'		
  df_games.loc[ df_games[column_name] == 'Michigan St.'		, column_name ] = 		'Michigan State'			
  df_games.loc[ df_games[column_name] == 'Mississippi'			, column_name ] = 		'Ole Miss'			
  df_games.loc[ df_games[column_name] == 'Missouri St.'		, column_name ] = 		'Missouri State'	
  df_games.loc[ df_games[column_name] == 'Montana St.'		, column_name ] = 		'Montana State'		
  df_games.loc[ df_games[column_name] == 'Morehead St.'		, column_name ] = 		'Morehead State'		
  df_games.loc[ df_games[column_name] == 'Morgan St.'			, column_name ] = 		'Morgan State'			
  df_games.loc[ df_games[column_name] == 'Murray St.'			, column_name ] = 		'Murray State'		
  df_games.loc[ df_games[column_name] == 'N.C. A&T'	, column_name ] = 		'North Carolina A&T'
  df_games.loc[ df_games[column_name] == 'N.C. Central'	, column_name ] = 		'North Carolina Central'
  df_games.loc[ df_games[column_name] == 'New Mexico St.'	, column_name ] = 		'New Mexico State'				
  df_games.loc[ df_games[column_name] == 'NC State'	, column_name ] = 		'North Carolina State'
  df_games.loc[ df_games[column_name] == 'North Carolina St.'	, column_name ] = 		'North Carolina State'	
  df_games.loc[ df_games[column_name] == 'North Dakota St.'	, column_name ] = 		'North Dakota State'				
  df_games.loc[ df_games[column_name] == 'Northern Ariz.'	, column_name ] = 		'Northern Arizona'				
  df_games.loc[ df_games[column_name] == 'Northern Colo.'	, column_name ] = 		'Northern Colorado'		
  df_games.loc[ df_games[column_name] == 'Northern Ill.'	, column_name ] = 		'Northern Illinois'			
  df_games.loc[ df_games[column_name] == "N'western St."	, column_name ] = 		"Northwestern State"	
  df_games.loc[ df_games[column_name] == 'Northwestern St.'	, column_name ] = 		"Northwestern State"				
  df_games.loc[ df_games[column_name] == 'Nicholls St.'		, column_name ] = 		'Nicholls State'		
  df_games.loc[ df_games[column_name] == 'Norfolk St.'		, column_name ] = 		'Norfolk State'		
  df_games.loc[ df_games[column_name] == 'Northern Ky.'		, column_name ] = 		'Northern Kentucky'	
  df_games.loc[ df_games[column_name] == 'Ohio St.'			, column_name ] = 		'Ohio State'			
  df_games.loc[ df_games[column_name] == 'Ohio St. '			, column_name ] = 		'Ohio State'			
  df_games.loc[ df_games[column_name] == 'Oklahoma St.'		, column_name ] = 		'Oklahoma State'	
  df_games.loc[ df_games[column_name] == 'Oregon St.'		, column_name ] = 		'Oregon State'	
  df_games.loc[ df_games[column_name] == 'Neb. Omaha'			, column_name ] = 		'Nebraska-Omaha'	
  df_games.loc[ df_games[column_name] == 'Omaha'			, column_name ] = 		'Nebraska-Omaha'					
  df_games.loc[ df_games[column_name] == 'Penn'			, column_name ] = 		'Pennsylvania'								
  df_games.loc[ df_games[column_name] == 'Penn St.'			, column_name ] = 		'Penn State'				
  df_games.loc[ df_games[column_name] == 'Prairie View'		, column_name ] = 		'Prairie View A&M'		
  df_games.loc[ df_games[column_name] == 'Portland St.'		, column_name ] = 		'Portland State'		
  df_games.loc[ df_games[column_name] == 'S.C. Upstate'	, column_name ] = 		'USC Upstate'	
  df_games.loc[ df_games[column_name] == 'S. Carolina St.'	, column_name ] = 		'South Carolina State'
  df_games.loc[ df_games[column_name] == 'South Carolina St.'	, column_name ] = 		'South Carolina State'			
  df_games.loc[ df_games[column_name] == 'Sacramento St.'		, column_name ] = 		'Sacramento State'			
  df_games.loc[ df_games[column_name] == 'Sam Houston St.'		, column_name ] = 		'Sam Houston State'				
  df_games.loc[ df_games[column_name] == 'San Diego St.'		, column_name ] = 		'San Diego State'		
  df_games.loc[ df_games[column_name] == 'San Jose St.'		, column_name ] = 		'San Jose State'		
  df_games.loc[ df_games[column_name] == 'Savannah St.'		, column_name ] = 		'Savannah State'		
  df_games.loc[ df_games[column_name] == 'Seattle U'			, column_name ] = 		'Seattle'			
  df_games.loc[ df_games[column_name] == 'SFA'	, column_name ] = 		'Stephen F Austin'
  df_games.loc[ df_games[column_name] == 'Stephen F. Austin'	, column_name ] = 		'Stephen F Austin'					
  df_games.loc[ df_games[column_name] == 'SIU Edwardsville'	, column_name ] = 		'SIU-Edwardsville'						
  df_games.loc[ df_games[column_name] == 'SIUE'	, column_name ] = 		'SIU-Edwardsville'					
  df_games.loc[ df_games[column_name] == 'South Ala.'			, column_name ] = 		'South Alabama'			
  df_games.loc[ df_games[column_name] == 'South Dakota St.'			, column_name ] = 		'South Dakota State'	
  df_games.loc[ df_games[column_name] == 'South Fla.'			, column_name ] = 		'South Florida'		
  df_games.loc[ df_games[column_name] == 'Southern Ill.'		, column_name ] = 		'Southern Illinois'	
  df_games.loc[ df_games[column_name] == 'Southeast Mo. St.'		, column_name ] = 		'Southeast Missouri State'
  df_games.loc[ df_games[column_name] == 'Southeastern La.'		, column_name ] = 		'Southeastern Louisiana'		
  df_games.loc[ df_games[column_name] == 'Southern Miss.'		, column_name ] = 		'Southern Miss'		
  df_games.loc[ df_games[column_name] == 'Southern U.'		, column_name ] = 		'Southern University'	
  df_games.loc[ df_games[column_name] == 'Southern Univ.'		, column_name ] = 		'Southern University'	
  df_games.loc[ df_games[column_name] == "St. Bonaventure"	, column_name ] = 		"St Bonaventure"			
  df_games.loc[ df_games[column_name] == "St. Francis (B'klyn)"	, column_name ] = 		"St Francis (BKN)"
  df_games.loc[ df_games[column_name] == "St. Francis (B&#039;klyn)"	, column_name ] = 		"St Francis (BKN)"		
  df_games.loc[ df_games[column_name] == 'St. Francis (NY)'	, column_name ] = 		"St Francis (BKN)"
  df_games.loc[ df_games[column_name] == 'St. Francis (PA)'	, column_name ] = 		"St Francis (PA)"	
  df_games.loc[ df_games[column_name] == 'St. Francis (Pa.)'	, column_name ] = 		"St Francis (PA)"	
  df_games.loc[ df_games[column_name] == "Saint Joseph's"	, column_name ] = 		"Saint Joseph's (PA)"
  df_games.loc[ df_games[column_name] == "St. Mary's (CA)"	, column_name ] = 		"Saint Mary's"	
  df_games.loc[ df_games[column_name] == "St. Mary's (Cal.)"	, column_name ] = 		"Saint Mary's"	
  df_games.loc[ df_games[column_name] == "St. Peter's"	, column_name ] = 		"St Peter's"	
  df_games.loc[ df_games[column_name] == "St. John's (NY)"	, column_name ] = 		"St John's"		
  df_games.loc[ df_games[column_name] == "St. John&#039;s (NY)"	, column_name ] = 		"St John's"		
  df_games.loc[ df_games[column_name] == "St. John's "	, column_name ] = 		"St John's"				
  df_games.loc[ df_games[column_name] == 'Tennessee St.'		, column_name ] = 		'Tennessee State'		
  df_games.loc[ df_games[column_name] == 'Texas A&M-C.C.'			, column_name ] = 		'Texas A&M-CC'			
  df_games.loc[ df_games[column_name] == 'Texas St.'			, column_name ] = 		'Texas State'			
  df_games.loc[ df_games[column_name] == 'UC Santa Barbara'	, column_name ] = 		'UC Santa Barb.'		
  df_games.loc[ df_games[column_name] == 'Ill.-Chicago'		, column_name ] = 		'UIC'					
  df_games.loc[ df_games[column_name] == 'Md.-East. Shore'	, column_name ] = 		'Maryland-Eastern Shore'					
  df_games.loc[ df_games[column_name] == 'UNCG'		, column_name ] = 		'UNC Greensboro'					
  df_games.loc[ df_games[column_name] == 'UNCW'		, column_name ] = 		'North Carolina-Wilmington'					
  df_games.loc[ df_games[column_name] == 'UNC Wilmington'		, column_name ] = 		'North Carolina-Wilmington'					
  df_games.loc[ df_games[column_name] == 'Southern California', column_name ] = 		'USC'					
  df_games.loc[ df_games[column_name] == 'UConn'			, column_name ] = 		'Connecticut'					
  df_games.loc[ df_games[column_name] == 'UC Santa Barb.'			, column_name ] = 		'UC Santa Barbara'						
  df_games.loc[ df_games[column_name] == 'UIC'			, column_name ] = 		'Illinois-Chicago'						
  df_games.loc[ df_games[column_name] == 'UNI'			, column_name ] = 		'Northern Iowa'							
  df_games.loc[ df_games[column_name] == 'UT Arlington'			, column_name ] = 		'Texas-Arlington'		
  df_games.loc[ df_games[column_name] == 'UT Arlington '			, column_name ] = 		'Texas-Arlington'		
  df_games.loc[ df_games[column_name] == 'UT Martin'			, column_name ] = 		'Tennessee-Martin'		
  df_games.loc[ df_games[column_name] == 'UTRGV'			, column_name ] = 		'Texas Rio Grande Valley'		
  df_games.loc[ df_games[column_name] == 'Utah St.'			, column_name ] = 		'Utah State'				
  df_games.loc[ df_games[column_name] == 'VCU'			, column_name ] = 		'Virginia Commonwealth'		
  df_games.loc[ df_games[column_name] == 'VMI'			, column_name ] = 		'Virginia Military'		
  df_games.loc[ df_games[column_name] == 'Washington St.'			, column_name ] = 		'Washington State'			
  df_games.loc[ df_games[column_name] == 'Weber St.'			, column_name ] = 		'Weber State'			
  df_games.loc[ df_games[column_name] == 'Western Caro.'		, column_name ] = 		'Western Carolina'
  df_games.loc[ df_games[column_name] == 'Western Ill.'		, column_name ] = 		'Western Illinois'	
  df_games.loc[ df_games[column_name] == 'Western Ky.'		, column_name ] = 		'Western Kentucky'	
  df_games.loc[ df_games[column_name] == 'Western Mich.'		, column_name ] = 		'Western Michigan'		
  df_games.loc[ df_games[column_name] == 'Wichita St.'		, column_name ] = 		'Wichita State'		
  df_games.loc[ df_games[column_name] == 'Wright St.'			, column_name ] = 		'Wright State'	
  df_games.loc[ df_games[column_name] == 'Youngstown St.'			, column_name ] = 		'Youngstown State'

In [7]:
RenameTeams(s2015,'HomeTeam')
RenameTeams(s2015,'AwayTeam')
RenameTeams(s2016,'HomeTeam')
RenameTeams(s2016,'AwayTeam')
RenameTeams(s2017,'HomeTeam')
RenameTeams(s2017,'AwayTeam')
RenameTeams(s2018,'HomeTeam')
RenameTeams(s2018,'AwayTeam')

# Feature Engineering

Let's add some basic team statistics to our dataset to augment the current information:

- Calculate the team's scoring average at home
- Calculate the teams scoring average over their last 5,10, N games for home and away
- Calculate the team's scoring average away
- Calculate the team's home defensive average
- Calculate the team's away defensive average  


`expanding().mean()` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.expanding.html) gives us a rolling average

In [8]:
def CalculateScores(df):
  for index, row in teams.iterrows():
    ## Home Team Stats
    df.loc[ df['HomeTeam'] == row.Team, 'HomeScoreAverage' ] = df[(df['HomeTeam'] == row.Team)]['HomeScore'].expanding().mean()
    df.loc[ df['HomeTeam'] == row.Team, 'HomeDefenseAverage' ] = df[(df['HomeTeam'] == row.Team)]['AwayScore'].expanding().mean()
    ## Away Team Stats
    df.loc[ df['AwayTeam'] == row.Team, 'AwayScoreAverage' ] = df[(df['AwayTeam'] == row.Team)]['AwayScore'].expanding().mean()
    df.loc[ df['AwayTeam'] == row.Team, 'AwayDefenseAverage' ] = df[(df['AwayTeam'] == row.Team)]['HomeScore'].expanding().mean()

In [56]:
CalculateScores(s2015)
CalculateScores(s2016)
CalculateScores(s2017)
CalculateScores(s2018)

s2015.head(20)

          Date                   HomeTeam  ...  AwayScoreAverage AwayDefenseAverage
0   2015-11-13                     Hawaii  ...              76.0               87.0
1   2015-11-13           Eastern Michigan  ...              50.0               70.0
2   2015-11-13                   Columbia  ...               NaN                NaN
3   2015-11-13           Louisiana-Monroe  ...               NaN                NaN
4   2015-11-13                       Yale  ...              57.0               70.0
5   2015-11-13               North Dakota  ...               NaN                NaN
6   2015-11-13           Central Michigan  ...              83.0               89.0
7   2015-11-13                       Army  ...               NaN                NaN
8   2015-11-13                 Iowa State  ...              62.0               68.0
9   2015-11-13                   Ole Miss  ...              76.0               90.0
10  2015-11-13               Wright State  ...              69.0               77.0
11  2015-11-13               Pennsylvania  ...              75.0               76.0
12  2015-11-13               Sacred Heart  ...              64.0               76.0
13  2015-11-13                  St John's  ...              57.0               66.0
14  2015-11-13              Georgia State  ...               NaN                NaN
15  2015-11-13                    Clemson  ...              40.0               74.0
16  2015-11-13                    Rutgers  ...               NaN                NaN
17  2015-11-13                       Duke  ...              74.0               92.0
18  2015-11-13  North Carolina-Wilmington  ...               NaN                NaN
19  2015-11-13             Michigan State  ...              55.0               82.0

[20 rows x 9 columns]

In [ ]:
def calc_number_of_consecutive_wins(df):
  return

## Combine the data, remove NA values, and calculate the results  

We need to remove the NA values because they will crash the system later on. We are also doing in `inplace` so we don't create a new DataFrame.

**Note**: We could go and investigate each of these NA values and try and determine why they happened. A couple of them are because teams play non-NCAA teams early in the season and we don't have their history.

In [10]:
all_data = pd.concat([s2015,s2016,s2017,s2018])
#Remove NAN values
print(len(all_data))
all_data.dropna(inplace=True)
print(len(all_data))

all_data['PointSpread'] = games.HomeScore - games.AwayScore

23291
20362

## Save the DataFrame as 'Games-Clean.csv'  

The following code will allow us to download the csv that we have created. If you are using something other than Google Colab you will have to check out their documentation on how to save.

In [63]:
file_name = 'Games-Clean.csv'

#Save the model
all_data.to_csv(file_name, header = True, index = False)

#Google Colab code to download
from google.colab import files
files.download(file_name)

# Deep Learning using Tensorflow

In this section we are going to be using Tensorflow to predict NCAA basketball games. Using the dataset we created in the previous steps of the project, we can predict a few different things, such as:

- Winners and Losers of Games
- Point Spreads of Games

In [81]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
from tensorflow.keras import utils

import plotly.graph_objects as go
import plotly

games_df = pd.read_csv('Games-Clean.csv')
games_df['Date'] = pd.to_datetime(games_df['Date'])
print(games_df.shape)
print(games_df.info())
games_df.head()

(20362, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20362 entries, 0 to 20361
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                20362 non-null  datetime64[ns]
 1   HomeTeam            20362 non-null  object
 2   HomeScore           20362 non-null  int64
 3   AwayTeam            20362 non-null  object
 4   AwayScore           20362 non-null  int64
 5   HomeScoreAverage    20362 non-null  float64
 6   HomeDefenseAverage  20362 non-null  float64
 7   AwayScoreAverage    20362 non-null  float64
 8   AwayDefenseAverage  20362 non-null  float64
 9   PointSpread         20362 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 1.6+ MB
None

        Date          HomeTeam  ...  AwayDefenseAverage PointSpread
0 2015-11-13            Hawaii  ...                87.0          11
1 2015-11-13  Eastern Michigan  ...                70.0          20
2 2015-11-13              Yale  ...                70.0          13
3 2015-11-13  Central Michigan  ...                89.0           6
4 2015-11-13        Iowa State  ...                68.0           6

[5 rows x 10 columns]

In [111]:
games_df['period'] = games_df['Date'].dt.to_period('M').astype(str)
count_df = games_df.groupby('period').size().to_frame('Number of Games').reset_index()
count_df.head(25)

     period  Number of Games
0   2015-11              879
1   2015-12             1059
2   2016-01             1413
3   2016-02             1282
4   2016-03              537
5   2016-04                1
6   2016-11             1009
7   2016-12             1066
8   2017-01             1343
9   2017-02             1263
10  2017-03              508
11  2017-11              974
12  2017-12             1090
13  2018-01             1353
14  2018-02             1246
15  2018-03              259
16  2018-11             1004
17  2018-12              932
18  2019-01             1290
19  2019-02             1189
20  2019-03              665

In [108]:
games_df.head()

        Date          HomeTeam  ...  PointSpread   period
0 2015-11-13            Hawaii  ...           11  2015-11
1 2015-11-13  Eastern Michigan  ...           20  2015-11
2 2015-11-13              Yale  ...           13  2015-11
3 2015-11-13  Central Michigan  ...            6  2015-11
4 2015-11-13        Iowa State  ...            6  2015-11

[5 rows x 11 columns]

In [112]:
games_df.drop('period', axis=1, inplace = True)
train = games_df[games_df['Date'].dt.to_period('M') <= '2017-03']
test = games_df[games_df['Date'].dt.to_period('M') > '2017-03']

print(train['Date'].min())
print(train['Date'].max())
print(test['Date'].min())
print(test['Date'].max())
print(train.columns)

2015-11-13 00:00:00
2017-03-31 00:00:00
2017-11-10 00:00:00
2019-03-22 00:00:00
Index(['Date', 'HomeTeam', 'HomeScore', 'AwayTeam', 'AwayScore',
       'HomeScoreAverage', 'HomeDefenseAverage', 'AwayScoreAverage',
       'AwayDefenseAverage', 'PointSpread'],
      dtype='object')

In [93]:
y_train = train.pop('PointSpread')
y_test = test.pop('PointSpread')

In [94]:
print(train.columns)
print(test.columns)

Index(['Date', 'HomeTeam', 'HomeScore', 'AwayTeam', 'AwayScore',
       'HomeScoreAverage', 'HomeDefenseAverage', 'AwayScoreAverage',
       'AwayDefenseAverage', 'period'],
      dtype='object')
Index(['Date', 'HomeTeam', 'HomeScore', 'AwayTeam', 'AwayScore',
       'HomeScoreAverage', 'HomeDefenseAverage', 'AwayScoreAverage',
       'AwayDefenseAverage', 'period'],
      dtype='object')

In [98]:
model = Sequential()
model.add(Dense(units = 8, input_shape = (10,)))
model.add(Dense(units = 16, activation='relu'))
model.add(Dense(units=1))

optimizer = tf.keras.optimizers.RMSprop(0.001)


model.compile(loss='mse',
              optimizer=optimizer,
              metrics=['mae', 'mse'])


model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_7 (Dense)              (None, 16)                144
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 17
=================================================================
Total params: 249
Trainable params: 249
Non-trainable params: 0
_________________________________________________________________

In [114]:
for col in train.columns[1:]:
  train[col] = train[col].astype('float32')
  test[col] = test[col].astype('float32')

fitted = model.fit(train.iloc[:, 1:], y_train, batch_size=32, epochs=10, verbose=2)

ValueError: ignored

In [ ]:
scores = model.evaluate(X_test, y_test, verbose=0)
print("Baseline Error: %.2f%%" % (100-scores[1]*100))